@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Poppins', sans-serif;
}

.text-gradient-primary {
  @apply bg-gradient-text;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .text-gradient-primary-off {
    @apply text-primary-200;
    background: none;
    -webkit-text-fill-color: currentColor;
  }
}

.custom-container {
  @apply mx-auto;
  @apply px-3;
  max-width: 1200px;
}
